# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
media/
staticfiles/
.env
*.sqlite3

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Local environments
.venv/
venv/
env/

# Coverage
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/